<strong>Olá, {{ name }}</strong>
<p>Sua questão foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Questão: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da resposta: </strong> {{ answer_at }} <br />
  <br />
  <small>
    <strong>GymPoint</strong>, e bora crescer conosco!
  </small>
</p>
