<strong>Olá, {{ name }}</strong>
<p>Sua inscrição foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
    <strong>Valor: </strong> {{ price }} <br />
  <br />
  <small>
    Seja bem vindo na academia <strong>GymPoint</strong>, e bora crescer conosco!
  </small>
</p>
